<header>
    <div class="tsd-header">
        <img class="tsd-logo"
            src="{{relativeURL "assets/images/ac-logo.svg"}}"
            alt=""
            role="banner"
            title="Automation Cloud"/>
        <a class="tsd-header-link" href="{{relativeURL "index.html"}}">
            Robot API Reference
        </a>
    </div>
</header>
